*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', sans-serif;
    background: #f4f6fc url(../Q&A/Q&A.png) no-repeat center center;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
body::before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background: rgba(0, 0, 0, 0.5); /* Dark overlay */
     backdrop-filter: blur(5px); /* Blur effect */
     z-index: -1;
 }
 
 .container {
     width: 90%;
     max-width: 800px;
     text-align: center;
   }
   h2 {
     color: #f8f0f0;
     margin-bottom: 40px;
     font-size: 2em;
   }
   
   .subjects-grid {
     display: grid;
     /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
     gap: 20px;
     width: 500px;
     margin: 0 auto;
   }

   .subject-card {
     background: #fff;
     padding: 20px;
     border-radius: 16px;
     box-shadow: 0 4px 10px rgba(0,0,0,0.1);
     cursor: pointer;
     transition: transform 0.2s ease, background 0.3s;
     display: flex;
     flex-direction: column;
     align-items: center;
   }

   .subject-card:hover {
     transform: translateY(-5px);
     background-color: #eaf3ff;
   }

   .subject-card img {
     width: 60px;
     height: 60px;
     margin-bottom: 10px;
     }


  @media screen and (max-width: 320px) {
  h2{
    font-size: 1.5em;
  }
    .subjects-grid {
      grid-template-columns: 1fr;
      width: 90%;
    }
   .subject-card {
    padding: 15px;
  }

  .subject-card img {
    width: 50px;
    height: 50px;
  }
    
  }   

@media screen and (max-width: 414px) {
  .subjects-grid {
    width: 100%;
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.6em;
  }
}
  @media screen and (max-width: 768px) {
  .subjects-grid {
    width: 100%;
    grid-template-columns: repeat( 1fr);
    gap: 10px;
    margin: 10px 5px;
  }

  h2 {
    font-size: 1.5em;
  }
}